<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.jeebo.driver">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:remove="android:maxSdkVersion" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".application.JeeboApplication"
        android:allowBackup="true"
        android:icon="@mipmap/jeebo_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/jeebo_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".modules.home.activity.OrderInProcessActivity"></activity>
        <activity
            android:name=".modules.home.activity.StatsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".modules.home.activity.CancelledOrdersActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".modules.profile.activity.ProfileActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>
        <activity android:name=".modules.home.activity.OrderDeatilsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".modules.home.activity.HomeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".modules.auth.activity.ForgotPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".modules.auth.activity.OtpVerificationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".modules.auth.activity.SignupActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.auth.activity.LoginActivity"
            android:screenOrientation="portrait">
           <!-- android:launchMode="singleTop">-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <receiver android:name=".reciever.SmsReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="net.hockeyapp.android.appIdentifier"
            android:value="${HOCKEYAPP_APP_ID}" />

        <activity
            android:name=".modules.auth.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".modules.home.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>